
**/build
**/migrations
**/truffle-config.js
**/node_modules
**/.env
**/.openzeppelin

#Hardhat files
**/cache
**/artifacts
**/package.json
**/package-lock.json
**/soljson*
**/hardhat.config.js

# VS code files
**/.vscode

# Scaffold-eth environment
**/scaffold-eth

